body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
  }

  #header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #logo {
    width: 80px;
    height: 80px;
    background: url('image14.jpeg') no-repeat center center;
    background-size: contain;
    margin-right: 20px;
    border: 2px solid #4CAF50;
    border-radius: 8px; /* optional rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  h1 {
    color: #4CAF50;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }

  #converter {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label, select, button {
    margin: 10px;
  }

  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }

  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }